<div style="height: 1000px;">

    <div style="margin: 50px auto; width: 60%">
        <button (click)="show()" style="margin: 0 auto;" type="button" class="btn btn-white">
            Clique aqui se vc tem coragem!
        </button>
    </div>
    <div *ngIf="showDiv" style="margin: 0 auto;width: 60%;text-align: center;">
        <strong style="
        color: #cc0000;
        font-weight: bold;">Eu amo você! <br>
            Bom dia flor do dia!!<br>
            Feliz 1 ano e 5 meses!</strong>
            <div style="margin-top: 20px;">
                <img style="width: 200px;" src="/assets/img/love.jpeg"/>
            </div>
        </div>
</div>
        